* {
  box-sizing: border-box;
  margin: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sort-container {
  display: flex;
  gap: 2rem;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Selecting the product containers */

.product-list-container > .product-container {
  display: grid;
  grid-template-columns: repeat(2, 12rem);
  gap: 0.5rem;
  border-bottom: solid 1px gray;
  padding-bottom: 0.4rem;
}

/* Selecting the data fields */

.product-list-container > .product-container > div > div:last-child {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 0.1rem;
}
